.header {
  background-color: rgb(56, 55, 55);
  display: flex;
  height: 100px;
  justify-content: space-between;
  padding: 15px;
}

.nav_item {
  padding: 15px;
  color: white;
  text-decoration: none;
  text-align: center;
  font-size: 22px;
}

.img_logo {
  height: 65px;
}
.img_profile {
  border-radius: 50%;
  width: 55px;
  border: 2px solid white;
}
